<div class="comment-container">
  <div class="user-profile">
    <img src="../../../assets/img/user.png" alt="" srcset="">
  </div>
  <mat-card>
    <div class="comment-content">

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Add a comment</mat-label>
        <textarea cols="10" matInput placeholder="Ex. It makes me feel..."></textarea>
      </mat-form-field>

      <button mat-raised-button color="primary">Send</button>

    </div>
  </mat-card>
</div>
