<div class="comment-container">
  <div class="user-profile">
    <img src="../../../assets/img/user.png" alt="" srcset="">
  </div>
  <mat-card>
    <div class="comment-content">
      <div class="upvote-section">
        <mat-icon
          aria-hidden="false"
          aria-label="Example account_circle icon"
          fontIcon="add"
        ></mat-icon>
        <span class="count">10</span>
        <mat-icon
          aria-hidden="false"
          aria-label="Example account_circle icon"
          fontIcon="remove"
        ></mat-icon>
      </div>
      <div class="comment-desc">
        <div class="header">
          <div class="info">
            <p class="name">user name</p>
            <p class="time">2 months ago</p>
          </div>
          <!-- reply -->
          <div class="reply">

          <mat-icon
            aria-hidden="false"
            aria-label="Example account_circle icon"
            fontIcon="reply"
          ></mat-icon>
          <p> Reply </p>
        </div>

        </div>
        <div class="content">
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima
            atque nostrum labore quam facilis ut cumque aliquam aperiam placeat
            sequi!
          </p>
        </div>
      </div>
    </div>
  </mat-card>
</div>
